<div class="margin">
  <div id="app">
    <div class="row">
      <div class="col-md-6">
        <div id="searchError"></div>
        <v-select multiple v-model="drugSearch" :options="options" placeholder="Search drugs ..." ></v-select>
      </div>
      <div class="col-md-6">
        <button v-on:click="search($event)" class="btn btn-sm btn-primary" type="submit" > Search</button>
        <button v-on:click="reset()" class="btn btn-sm btn-danger" type="submit" > Reset</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 white-space">
        <table v-if="searchComplete" class="table table-bordered table-striped">
          <col width="20px">
          <col width="30px">
          <thead>
            <tr>
              <th>Name</th>
              <th>Side Effects</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="drug in Drugs">
              <td>{{ drug.name }}</td>
              <td>{{ drug.effects }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" v-if="searchComplete">
        <%= link_to "Download PDF", download_path(@drugs, format: "pdf") %>
      </div>
    </div>
  </div>
</div>